{% extends 'base.html.twig' %}

{% block body %}
  <h1>Detalhes do Livro</h1>
  <p><strong>Título:</strong> {{ book.title }}</p>
  <p><strong>ISBN:</strong>  {{ book.isbn }}</p>
  <p><strong>Ano:</strong>   {{ book.ano }}</p>
  <p><strong>Autor:</strong> {{ book.author.name }}</p>
  <p><strong>Categoria:</strong> {{ book.category.title }}</p>

  <a href="{{ path('book_index') }}">Voltar</a>
  <a href="{{ path('book_edit', {'id': book.id}) }}">Editar</a>
  {% include 'Book/_delete_form.html.twig' with { 'form': delete_forms } %}
{% endblock %}
