{% extends 'base.html.twig' %}

{% block body %}

<h1>Emprestimos</h1>
<form method="get" class="form-inline mb-3">
    <input type="text"
           name="q"
           value="{{ search.q|default('') }}"
           placeholder="Pesquisar Livro"
           class="form-control mr-2">
    <input type="date" name="loanDate" value="{{ app.request.get('loanDate') }}" class="form-control mr-2" placeholder="Data Empréstimo">
    <input type="date" name="returnDate" value="{{ app.request.get('returnDate') }}" class="form-control mr-2" placeholder="Data Devolução">
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>
<table class="table">
    <thead>
      <tr>
        <th>Livro</th>
        <th>Leitor</th>
        <th>Data de Emprestimo</th>
        <th>Data de Devolução</th>
        <th>Ações</th>
        <th>Situação</th>
      </tr>
    </thead>
    <tbody>
      {% for loan in loans %}
        <tr>
          <td>{{ loan.book }}</td>
          <td>{{ loan.reader }}</td>
          <td>{{ loan.loanDate |date('d/m/Y')}}</td>
          <td>{{ loan.returnDate|date('d/m/Y') }}</td>
          <td>
            <a href="{{ path('loan_show',  {'id': loan.id}) }}">Ver</a>
            <a href="{{ path('loan_edit',  {'id': loan.id}) }}">Editar</a>
            {{ form_start(delete_forms[loan.id]) }}
              <button class="btn btn-danger btn-sm"
                      onclick="return confirm('Excluir este Emprestimo?')">
                Excluir
              </button>
            {{ form_end(delete_forms[loan.id]) }}
          </td>
          <td>{{ loan.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ path('loan_new') }}" class="btn btn-success">Novo Emprestimo</a>
{% endblock %}